<div class="container">
	<h1>Cadastro de Cliente</h1>
	<form>
		<div class="form-group">
			<label for="nome">Nome</label> <input type="text"
				class="form-control" name="nome" [(ngModel)]="cliente.nome" required>
		</div>
		<div class="form-group">
			<label for="idade">Idade</label> <input type="text"
				class="form-control" name="idade" [(ngModel)]="cliente.idade"
				required>
		</div>
		<button class="btn btn-success" (click)="addCliente()">Cadastrar</button>
	</form>

	<ul>
		<li *ngFor="let cliente of clientes">{{cliente.nome}} -
			{{cliente.idade}}</li>
	</ul>
</div>









