<div class="container">
	<h1>Cadastro de Empresas</h1>
	<form>
		<div class="form-group">
			<label for="nome">Nome</label> <input type="text"
				class="form-control" name="nome" [(ngModel)]="empresa.nome" required>
		</div>
		<div class="form-group">
			<label for="cnpj">Cnpj</label> <input type="text"
				class="form-control" name="cnpj" [(ngModel)]="empresa.cnpj"
				required>
		</div>
		<div class="form-group">
			<label for="razaoSocial">Razao Social</label> <input type="text"
				class="form-control" name="razaoSocial" [(ngModel)]="empresa.razaoSocial"
				required>
		</div>
		<button class="btn btn-success" (click)="addEmpresa()">Cadastrar</button>
	</form>

<table>
		<tr>
			<th>Nome</th>
			<th>CNPJ</th>
			<th>Razao Social</th>
		</tr>
		<tr *ngFor="let empresa of empresas">
			<td>{{empresa.nome}}</td>
			<td>{{empresa.cnpj}}</td>
			<td>{{empresa.razaoSocial}}</td>
			<td><button class="btn btn-success" (click)="excluirEmpresa(empresa.id)">Excluir</button></td>
			<td><button class="btn btn-success" (click)="editarEmpresa(empresa)">Editar</button></td>
			
		</tr>
	</table>

</div>









