<div class="container">
	<h1>Cadastro de Local</h1>
	<form>
		<div class="form-group">
			<label for="codigo">Codigo</label> <input type="text"
				class="form-control" name="codigo" [(ngModel)]="local.codigo" required>
		</div>
		<div class="form-group">
			<label for="descricao">Descricao</label> <input type="text"
				class="form-control" name="descricao" [(ngModel)]="local.descricao"
				required>
		</div>
		<button class="btn btn-success" (click)="addLocal()">Cadastrar</button>
	</form>

	<table>
		<tr>
			<th>Codigo</th>
			<th>Descricao</th>
		</tr>
		<tr *ngFor="let local of locais">
			<td>{{local.codigo}}</td>
			<td>{{local.descricao}}</td>
			<td><button class="btn btn-success" (click)="excluirLocal(local.id)">Excluir</button></td>
			<td><button class="btn btn-success" (click)="editarLocal(local)">Editar</button></td>
			
		</tr>
	</table>
</div>









