<div class="container">
	<h1>Cadastro de Produtos</h1>
	<form>
		<div class="form-group">
			<label for="codigo">Codigo</label> <input type="text"
				class="form-control" name="codigo" [(ngModel)]="produto.codigo" required>
		</div>
		<div class="form-group">
			<label for="descricao">Descricao</label> <input type="text"
				class="form-control" name="descricao" [(ngModel)]="produto.descricao"
				required>
		</div>
		<button class="btn btn-success" (click)="addProduto()">Cadastrar</button>
	</form>

   <table class="table table-hover">
     <thead>
		<tr>
			<th>Codigo</th>
			<th>Descricao</th>
		</tr>
	 </thead>
    <tbody>
		<tr *ngFor="let produto of produtos">
			<td>{{produto.codigo}}</td>
			<td>{{produto.descricao}}</td>
			<td><button class="btn btn-success" (click)="excluirProduto(produto.id)">Excluir</button></td>
			<td><button class="btn btn-success" (click)="editarProduto(produto)">Editar</button></td>
			
		</tr>
	  </tbody>
	</table>

</div>









