<div class="container">
	<h1>Cadastro de Usuarios</h1>
	<form>
		<div class="form-group">
			<label for="login">Login</label> <input type="text"
				class="form-control" name="login" [(ngModel)]="usuario.login" required>
		</div>
		<div class="form-group">
			<label for="senha">Senha</label> <input type="password"
				class="form-control" name="senha" [(ngModel)]="usuario.senha"
				required>
		</div>
		<div class="form-group">
			<label for="nome">Nome</label> <input type="text"
				class="form-control" name="nome" [(ngModel)]="usuario.nome"
				required>
		</div>
		<div class="form-group">
			<label for="empresa">Empresa</label> <input type="text"
				class="form-control" name="empresa" [(ngModel)]="usuario.empresa"
				required>
		</div>
		<button class="btn btn-success" (click)="addUsuario()">Cadastrar</button>
	</form>
	
	<table>
		<tr>
			<th>Nome</th>
			<th>CNPJ</th>
			<th>Razão Social</th>
		</tr>
		<tr *ngFor="let usuario of usuarios">
			<td>{{usuario.login}}</td>
			<td>{{usuario.senha}}</td>
			<td>{{usuario.nome}}</td>
			<td><button class="btn btn-success" (click)="excluirUsuario(usuario.id)">Excluir</button></td>
			<td><button class="btn btn-success" (click)="editarUsuario(usuario)">Editar</button></td>
			
		</tr>
	</table>

</div>









